body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:243px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:50px;
  width:71px;
  height:20px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background-color:transparent;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:50px;
  width:69px;
  height:20px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background-color:transparent;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
